@import "wj-colors.css";

.wj-check-box {
    -fx-cursor: hand;
}

.wj-check-box > .container > .box {
    -fx-pref-height: 13px;
    -fx-pref-width: 13px;
    -fx-border-radius: 3px;
    -fx-border-color: -wj-border-color;
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
}

.wj-check-box > .container > .box > .mark {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-insets: 3px 2px;
    -fx-shape: "M369.792 704.32L930.304 128 1024 223.616 369.984 896l-20.288-20.864-0.128 0.128L0 516.8 96.128 423.68l273.664 280.64z";
}

.wj-check-box > .container {
    -fx-text-fill: -wj-text-color;
    -fx-font-size: 14px;
}

.wj-check-box:focused > .container > .box {
    -fx-border-color: -wj-primary-color;
}

.wj-check-box:selected > .container {
    -fx-text-fill: -wj-primary-color;
}

.wj-check-box:selected > .container > .box {
    -fx-border-color: -wj-primary-color;
    -fx-background-color: -wj-primary-color;
}