*{
    -wj-primary-color: #6690FF;
    -wj-success-color: #33C651;
    -wj-info-color: #52A8F9;
    -wj-warn-color: #FFA10A;
    -wj-danger-color: #FF4C3F;

    -wj-text-color:#303133;
    -wj-border-color:#CDD0D6;
    -wj-base-color:#F2F3F5;
}